<figure class="figure">
  <img src="https://m.media-amazon.com/images/M/MV5BMTA2NjEyMTY4MTVeQTJeQWpwZ15BbWU3MDQ5NDAzNDc@._V1_.jpg"
    class="figure-img img-fluid rounded img-thumbnail" style="max-width: 150px;" alt="...">
  <figcaption class="figure-caption">Actor</figcaption>
  <figcaption class="figure-caption">(Role)</figcaption>
</figure>
<figure class="figure">
  <img src="https://m.media-amazon.com/images/M/MV5BMTA2NjEyMTY4MTVeQTJeQWpwZ15BbWU3MDQ5NDAzNDc@._V1_.jpg"
    class="figure-img img-fluid rounded img-thumbnail" style="max-width: 150px;" alt="...">
  <figcaption class="figure-caption">Actor</figcaption>
  <figcaption class="figure-caption">(Role)</figcaption>
</figure>
<figure class="figure">
  <img src="https://m.media-amazon.com/images/M/MV5BMTA2NjEyMTY4MTVeQTJeQWpwZ15BbWU3MDQ5NDAzNDc@._V1_.jpg"
    class="figure-img img-fluid rounded img-thumbnail" style="max-width: 150px;" alt="...">
  <figcaption class="figure-caption">Actor</figcaption>
  <figcaption class="figure-caption">(Role)</figcaption>
</figure>
<figure class="figure">
  <img src="https://m.media-amazon.com/images/M/MV5BMTA2NjEyMTY4MTVeQTJeQWpwZ15BbWU3MDQ5NDAzNDc@._V1_.jpg"
    class="figure-img img-fluid rounded img-thumbnail" style="max-width: 150px;" alt="...">
  <figcaption class="figure-caption">Actor</figcaption>
  <figcaption class="figure-caption">(Role)</figcaption>
</figure>
<figure class="figure">
  <img src="https://m.media-amazon.com/images/M/MV5BMTA2NjEyMTY4MTVeQTJeQWpwZ15BbWU3MDQ5NDAzNDc@._V1_.jpg"
    class="figure-img img-fluid rounded img-thumbnail" style="max-width: 150px;" alt="...">
  <figcaption class="figure-caption">Actor</figcaption>
  <figcaption class="figure-caption">(Role)</figcaption>
</figure>
<figure class="figure">
  <img src="https://m.media-amazon.com/images/M/MV5BMTA2NjEyMTY4MTVeQTJeQWpwZ15BbWU3MDQ5NDAzNDc@._V1_.jpg"
    class="figure-img img-fluid rounded img-thumbnail" style="max-width: 150px;" alt="...">
  <figcaption class="figure-caption">Actor</figcaption>
  <figcaption class="figure-caption">(Role)</figcaption>
</figure>
<figure class="figure">
  <img src="https://m.media-amazon.com/images/M/MV5BMTA2NjEyMTY4MTVeQTJeQWpwZ15BbWU3MDQ5NDAzNDc@._V1_.jpg"
    class="figure-img img-fluid rounded img-thumbnail" style="max-width: 150px;" alt="...">
  <figcaption class="figure-caption">Actor</figcaption>
  <figcaption class="figure-caption">(Role)</figcaption>
</figure>
<figure class="figure">
  <img src="https://m.media-amazon.com/images/M/MV5BMTA2NjEyMTY4MTVeQTJeQWpwZ15BbWU3MDQ5NDAzNDc@._V1_.jpg"
    class="figure-img img-fluid rounded img-thumbnail" style="max-width: 150px;" alt="...">
  <figcaption class="figure-caption">Actor</figcaption>
  <figcaption class="figure-caption">(Role)</figcaption>
</figure>
<figure class="figure">
  <img src="https://m.media-amazon.com/images/M/MV5BMTA2NjEyMTY4MTVeQTJeQWpwZ15BbWU3MDQ5NDAzNDc@._V1_.jpg"
    class="figure-img img-fluid rounded img-thumbnail" style="max-width: 150px;" alt="...">
  <figcaption class="figure-caption">Actor</figcaption>
  <figcaption class="figure-caption">(Role)</figcaption>
</figure>
